@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit browsers (Chrome, Safari) */

::-webkit-scrollbar {
  width: 9px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #4bd472; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Radius of the scrollbar thumb corners */
}

::-webkit-scrollbar-track {
  background-color: #ccc; /* Color of the scrollbar track */
}

.rainbow > div {
  filter: blur(64px);
}

.rainbow2 > div {
  filter: blur(128px);
}

.glassmorph {
  background: rgba(34, 34, 34, 0.4);
  backdrop-filter: blur(10px);
}
