.masterSignUp{
    margin-top: 150px;
    min-height: calc(100vh - 60px);
}
.suCont{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2vh;
}
.suCont > span{
    font-size: 32px;
    font-weight: bold;
}
TextField{
    color: #ffffff;
}